<app-slide-container [vertical]="true">
  <app-slide color='#351c4d'>
    <div class="circle-container-x">
      <app-circle class="animate__infinite animate__pulse animate__slow" label="1" background="rgb(235,242,250)"  color="#05668d" [unit]="10"[delay]="0" [font]="1.3"></app-circle>
      <app-circle class="animate__infinite animate__pulse animate__slow" label="2" background="rgb(235,242,250)"  color="#05668d" [unit]="10"[delay]="1" [font]="1.3"></app-circle>
      <app-circle class="animate__infinite animate__pulse animate__slow" label="3" background="rgb(235,242,250)"  color="#05668d" [unit]="10"[delay]="2" [font]="1.3"></app-circle>
      <app-circle class="animate__infinite animate__pulse animate__slow" label="4" background="rgb(235,242,250)"  color="#05668d" [unit]="10"[delay]="3" [font]="1.3"></app-circle>
    </div>
  </app-slide>
  <app-slide color='rgb(235,242,250)'>
    <div class="circle-container-x">
      <app-circle label="Marketing automation" background='#351c4d' animation="zoomInUp" color="rgb(235,242,250)"  [unit]="20"[delay]="0" [font]="3"></app-circle>
    </div>
  </app-slide>

</app-slide-container>