<app-slide-container>
  <app-slide color='mediumseagreen'>
    <div class="circle-container-x">
      <app-circle label="Server side rendering" background="mediumspringgreen" animation="rotateInUpLeft" color="mediumseagreen" [unit]="16" [delay]="1" [font]="1.8">
      </app-circle>
       </div>
  </app-slide>
  <app-slide color='mediumspringgreen'>
    <div class="circle-container-x">
      <app-circle label="Client side rendering" background="mediumseagreen" animation="rotateInDownRight" color="mediumspringgreen" [unit]="16" [delay]="1" [font]="1.8">
      </app-circle>
      </div>
  </app-slide>
  <div class="header ">Rendering</div>
</app-slide-container>
