<app-slide-container>
  <app-slide color='#75acc0'>
    <div class="circle-container-x">
      <app-circle label="sync" background="lightyellow" animation="fadeInTopRight" color="#75acc0" [unit]="20"[delay]="0"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='lightyellow'>
    <div class="circle-container-x">
      <app-circle label="async" background="#75acc0" animation="fadeInBottomLeft" color="lightyellow" [unit]="20"[delay]="1"></app-circle>
     
    </div>
  </app-slide>
</app-slide-container>
