<app-slide-container>

  <app-slide color='rebeccapurple'>
    <div class="circle-container-x">
      <app-circle label="Architecture" background="purple" animation="zoomInUp" color="cyan" [unit]="10"[delay]="0" [font]="1.5"></app-circle>
     
    </div>
  </app-slide>

  <app-slide color='#534666'>
    <div class="circle-container-x">
      <app-circle label="HTML" background="plum" animation="zoomInUp" color="#534666" [unit]="10"[delay]="1"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='#ff7777'>
    <div class="circle-container-x">
      <app-circle label="CSS" background="#f9FA98" animation="zoomInUp" color="#ff7777" [unit]="10"[delay]="2"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='#eeb462'>
    <div class="circle-container-x">
      <app-circle label="JS" background="#534666" animation="zoomInUp" color="#eeb462" [unit]="10"[delay]="3"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='pink'>
    <div class="circle-container-x">
      <app-circle label=":(" background="#f26968" animation="zoomInUp" color="white" [unit]="10"[delay]="4"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='#613a43'>
    <div class="circle-container-x">
      <app-circle label="???" background="#849974" animation="zoomInUp" color="#613a43" [unit]="10"[delay]="5"></app-circle>
     
    </div>
  </app-slide>
 
 
</app-slide-container>
