<app-slide-container>
  <app-slide color='cyan'>
    <div class="circle-container-x">
      <app-circle label="Per application" animation="jackInTheBox" background='lightslategray' color="white" [unit]="20"[delay]="0" [font]="2"></app-circle>
    </div>
  </app-slide>
  <app-slide color='lightslategray'>
    <div class="circle-container-x">
      <app-circle label="Per library" animation="jackInTheBox" background="cyan" color='lightslategray' [unit]="20"[delay]="0" [font]="2"></app-circle>
    </div>
  </app-slide>
</app-slide-container>