<app-slide-container>
  <app-slide color='#49b265'>
    <div class="circle-container-x">
      <app-circle label="Javascript" background="#213502" animation="fadeInTopRight" color="white" [unit]="14"[delay]="0"></app-circle>

    </div>
  </app-slide>
  <app-slide color='#213502'>
    <div class="circle-container-x">
      <app-circle label="Typescript" background="#49b265" animation="fadeInBottomLeft" color="white" [unit]="14"[delay]="0" ></app-circle>

    </div>
  </app-slide>

</app-slide-container>
