<app-slide-container [vertical]="true">
  <app-slide color='seashell'>
    <div class="circle-container-x">
      <app-circle label="Component state" background="salmon" animation="backInLeft" color="seashell" [unit]="20" [delay]="0" [font]="1.8">
      </app-circle>
       </div>
  </app-slide>
  <app-slide color='salmon'>
    <div class="circle-container-x">
      <app-circle label="Application state" background="seashell" animation="backInRight" color="salmon" [unit]="20" [delay]="0" [font]="1.8">
      </app-circle>
      </div>
  </app-slide>
  <div class="header ">State management</div>
</app-slide-container>
