<app-slide-container >

  <app-slide color="#351F39">
    
    <div class="circle-container-y">

      <app-circle animation="zoomInLeft" label="Redux" background="#f4e8c1"  color="#351F39" [unit]="10"[delay]="0" [font]="1.5"></app-circle>
      <app-circle animation="zoomInLeft" label="Custom components" background="#f4e8c1"  color="#351F39" [unit]="10"[delay]="1" [font]="1.3"></app-circle>
      <app-circle animation="zoomInLeft" label="Optimize?" background="#f4e8c1"  color="#351F39" [unit]="10"[delay]="2" [font]="1.5"></app-circle>
      <app-circle animation="zoomInLeft" label="Shortcuts" background="#f4e8c1"  color="#351F39" [unit]="10"[delay]="3" [font]="1.5"></app-circle>
      <app-circle animation="zoomInLeft" label="Know your team" background="#f4e8c1"  color="#351F39" [unit]="10"[delay]="4" [font]="1.5"></app-circle>
    </div>
  </app-slide>

  <app-slide color="#f4e8c1">
    <div class="circle-container-x">
      <app-circle label="Hotel" background="#351F39" animation="zoomInRight" color="#f4e8c1" [unit]="25"[delay]="0" [font]="3"></app-circle>
    </div>
  </app-slide>
</app-slide-container>