<app-slide-container>
  
    <app-slide color='#ce8054'>
      <div class="circle-container-x">
       <app-circle label="Git" background="#4b2b31" animation="fadeInDownBig" color="white" [unit]="12"[delay]="0"></app-circle>
 
     </div>
   </app-slide>

   <app-slide color="#b35340">
    <div class="circle-container-x">
      <app-circle label="Linter" background="#6f3637" animation="fadeInUpBig" color="white" [unit]="12"[delay]="0"></app-circle>

    </div>
  </app-slide>

  <app-slide color='#6f3637'>
    <div class="circle-container-x">
      <app-circle label="Husky" background="#b35340" animation="fadeInDownBig" color="white" [unit]="12"[delay]="0"></app-circle>

    </div>
  </app-slide>

  <app-slide color='#4b2b31'>
    <div class="circle-container-x">
      <app-circle label="Prettify" background="#ce8054" animation="fadeInUpBig" color="white" [unit]="12"[delay]="0"></app-circle>

    </div>
  </app-slide>
</app-slide-container>