<app-slide-container>
  <app-slide color='azure'>
    <div class="circle-container-x">
      <app-circle label="CSS" background="lightskyblue" animation="fadeInUp" color="white" [unit]="15"[delay]="1"></app-circle>
    </div>
  </app-slide>
  <app-slide color='aqua'>
    <div class="circle-container-x">
      <app-circle label="SCSS" background="lightsteelblue" animation="fadeInUp" color="white" [unit]="15"[delay]="1"></app-circle>
    </div>
  </app-slide>
  <app-slide color='lavender'>
    <div class="circle-container-x">
      <app-circle label="SASS" background="skyblue" animation="fadeInUp" color="white" [unit]="15"[delay]="2"></app-circle>
    </div>
  </app-slide>
  <div class="header ">Preprocessing</div>
</app-slide-container>
