<app-slide-container [vertical]="true">
  <app-slide color='lightsteelblue'>
    <div class="circle-container-x">
      <app-circle label="Variable names" background="lightslategray" animation="lightSpeedInRight" color="white" [unit]="14"[delay]="1" (click)="executeExampleCalculations()"></app-circle>
      <app-circle label="Function names" background="lightslategray" animation="lightSpeedInLeft" color="white" [unit]="14"[delay]="1" (click)="executeExampleCalculations()"></app-circle>

    </div>
  </app-slide>
</app-slide-container>
