<app-slide-container [vertical]="true">
  <app-slide color='antiquewhite'>
    <div class="circle-container-x">
      <app-circle label="Component" background="darksalmon" animation="slideInLeft" color="white" [unit]="14"[delay]="1"></app-circle>

    </div>
  </app-slide>
  <app-slide color='aliceblue'>
    <div class="circle-container-x">
      <app-circle label="Global" background="salmon" animation="slideInRight" color="white" [unit]="14"[delay]="1"></app-circle>

    </div>
  </app-slide>

</app-slide-container>
