<app-slide-container>
  <app-slide color='#534666'>
    <div class="circle-container-x">
      <app-circle label="=" background="plum" animation="zoomInUp" color="#534666" [unit]="10"[delay]="0"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='#cd7672'>
    <div class="circle-container-x">
      <app-circle label="==" background="cornsilk" animation="zoomInUp" color="#cd7672" [unit]="10"[delay]="1"></app-circle>
     
    </div>
  </app-slide>
  <app-slide color='#eeb462'>
    <div class="circle-container-x">
      <app-circle label="===" background="#534666" animation="zoomInUp" color="#eeb462" [unit]="10"[delay]="2"></app-circle>
     
    </div>
  </app-slide>
 
</app-slide-container>
