<app-slide-container [vertical]="true">
  <app-slide color="#e2b091">
    <div class="circle-container-x">
      <app-circle animation="fadeInDownBig" label="Comments" background="#32485c"  color="#e2b091" [unit]="10"[delay]="0" [font]="1.3"></app-circle>
      <app-circle animation="fadeInDownBig" label="Planning" background="#32485c"  color="#e2b091" [unit]="10"[delay]="1" [font]="1.3"></app-circle>
      <app-circle animation="fadeInDownBig" label="Stack" background="#32485c"  color="#e2b091" [unit]="10"[delay]="2" [font]="1.3"></app-circle>
      <app-circle animation="fadeInDownBig" label="If" background="#32485c"  color="#e2b091" [unit]="10"[delay]="3" [font]="1.3"></app-circle>
    </div>
  </app-slide>
  <app-slide color="#32485c">
    <div class="circle-container-x">
      <app-circle label="Marketing automation" background="#e2b091" animation="fadeInUpBig" color="#32485c"  [delay]="4" [unit]="25" [font]="3"></app-circle>
    </div>
  </app-slide>

</app-slide-container>