<app-slide-container [vertical]="true">
  <app-slide color='purple'>
    <div class="label">Units</div>
    <div class="circle-container-x">
      <app-circle label="cm" background="coral" animation="rollIn" color="white" [unit]="8"[delay]="0"></app-circle>
      <app-circle label="mm" background="coral" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="in" background="coral" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="px" background="coral" animation="rollIn" color="white" [unit]="8"[delay]="0"></app-circle>
      <app-circle label="pt" background="coral" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="pc" background="coral" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
    </div>
  </app-slide>
  <app-slide color='coral'>
    <div class="label">Relative</div>
    <div class="circle-container-x">
      <app-circle label="ch" background="purple" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="em" background="purple" animation="rollIn" color="white" [unit]="8"[delay]="0"></app-circle>
      <app-circle label="rem" background="purple" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="vw" background="purple" animation="rollIn" color="white" [unit]="8"[delay]="0"></app-circle>
      <app-circle label="vh" background="purple" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
      <app-circle label="%" background="purple" animation="rollIn" color="white" [unit]="8" [delay]="0"></app-circle>
    </div>
  </app-slide>
  <div class="header ">Preprocessing</div>
</app-slide-container>