<app-slide-container [vertical]="true">
  <app-slide color='#765285'>
    <div class="circle-container-x">
      <app-circle label=":(" background="#FF7E5F" color="seashell" [unit]="20"[delay]="0" [font]="4"></app-circle>
    </div>
  </app-slide>
  <app-slide color='#765285'>
    <div class="circle-container-x">
      <app-circle class="animate__infinite animate__bounce animate__swing animate__slower" label="Smart Cinema" background="#FF7E5F"  color="seashell" [unit]="10"[delay]="0" [font]="1.3"></app-circle>
      <app-circle class="animate__infinite animate__bounce animate__swing animate__slower" label="Marketing Automation" background="#FF7E5F"  color="seashell" [unit]="10"[delay]="1" [font]="1.3"></app-circle>
      <app-circle class="animate__infinite animate__bounce animate__swing animate__slower" label="Hotel" background="#FF7E5F"  color="seashell" [unit]="10"[delay]="3" [font]="1.3"></app-circle>
    </div>
  </app-slide>
</app-slide-container>