<app-slide-container>
  <app-slide color='#1f2d40'>
    <div class="circle-container-x">
      <app-circle label="Reference(&)" background="lightcoral" animation="backInDown" color="white" [unit]="13" [delay]="1" [font]="1.5"></app-circle>
      <app-circle label="Partials" background="lightcoral" animation="backInUp" color="white" [unit]="13"[delay]="1" [font]="1.5"></app-circle>
      <app-circle label="Interpolation" background="lightcoral" animation="backInDown" color="white" [unit]="13"[delay]="1" [font]="1.5"></app-circle>
      <app-circle label="Lists" background="lightcoral" animation="backInUp" color="white" [unit]="13" [delay]="1" [font]="1.5"></app-circle>
      <app-circle label="Functions" background="lightcoral" animation="backInDown" color="white" [unit]="13" [delay]="1" [font]="1.5"></app-circle>

    </div>
  </app-slide>
  <div class="header ">Specifity</div>
</app-slide-container>
