<app-slide-container>
  <app-slide color='lightcoral'>
    <div class="circle-container-x">
      <app-circle label="!important" background="#1f2d40" animation="rotateInDownLeft" color="white" [unit]="12" [delay]="1" [font]="1.5"></app-circle>
      <app-circle label="style=" background="#1f2d40" animation="rotateInDownLeft" color="white" [unit]="11"[delay]="1" [font]="1.5"></app-circle>
      <app-circle label="#id" background="#1f2d40" animation="rotateInDownLeft" color="white" [unit]="10"[delay]="1" [font]="1.5"></app-circle>
      <app-circle label=".class" background="#1f2d40" animation="rotateInDownLeft" color="white" [unit]="9" [delay]="1" [font]="1.5"></app-circle>
      <app-circle label="elem" background="#1f2d40" animation="rotateInDownLeft" color="white" [unit]="8" [delay]="1" [font]="1.5"></app-circle>

    </div>
  </app-slide>
  <div class="header ">Specifity</div>
</app-slide-container>
