

:host {
  display:block;
  width:10rem;
  border-radius:2rem;
  padding:0.5rem 1rem;
  margin-bottom:0.5rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  .chip {
    display:flex;
    justify-content: space-between;
    text-align:center;
  }
}