<app-slide-container>
  <app-slide color='purple'>
    <div class="header ">Inline</div>
    <div class="circle-container-x">
      <app-circle label=".class {...}" background="coral" animation="fadeInUp" color="white" [unit]="18"[delay]="1"></app-circle>

    </div>
  </app-slide>
  <app-slide color='coral'>
    <div class="header ">Classes</div>
    <div class="circle-container-x">
      <app-circle label="style= '...'" background="purple" animation="fadeInDown" color="white" [unit]="18"[delay]="1"></app-circle>

    </div>
  </app-slide>

</app-slide-container>
